.employeeListContainer {
    margin: 0px 40px;  
    color: #0D3D12;
}

.employeeListContainer h1 {
    margin: 30px 0px;
    text-align: justify;
    font-size: 60px;
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.table {
    text-align: center;
}

.tableHeader {
    background-color: #9CC199;
}

.tableHeader th {
    width: 10%;
    padding: 10px 30px;
}

.tableBody {
    background-color: #DBF9D8;
}

.tableBody td {
    background-color: #DBF9D8;
    padding: 5px;
}

.searchBar {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.searchBar p {
    margin-right: 30px;
    font-size: 25px;
}

.searchBar input {
    width: 300px;
    height: 40px;
    border: 1px solid #0D3D12;
    border-radius: 10px;
    padding: 5px;
    background-color: #E7EFE6;
}